
@font-face{
    font-family:'GoogleSans';
    src: url("./assets/WebWeave Resource Material/MediaKIT/Font-20240226T150837Z-001/Font/GoogleSans-Regular-v1.27.ttf");
}

*{
    margin: 0;
    padding: 0;
}


body{
    min-height: 100vh;
    background:white;
    background-position: center;
    background-image: url('./assets/WebWeave Resource Material/MediaKIT/Logos-20240226T151048Z-001/Logos/PNGs/bg-dots.png');
    font-family: 'GoogleSans';
}

/*Nav Bar*/

nav{   
    background-color: rgb(79, 167, 255);
    box-shadow: 3px 3px 3px rgb(0, 140, 255,0.1); 
    height: 10vh;   
}


nav ul img{
    height: 25px;
    width: auto;
}

nav img.mobile-icon{
    display: none;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: white;
}

nav a:hover{
    background-color:rgb(56, 156, 255);
    cursor: pointer;
}

nav li:first-child{
    padding-top: 20px;
    padding-left: 10px;
    margin-right: auto;
}

.sidebar{
    filter: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(79, 167, 255);
    backdrop-filter: blur(76px);
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

nav svg{
    fill:white;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
}

.mobile_logo{
    display: none;
    height: 50vh;
}


/*Page1*/

.homepage{
    height: 50vh;
    display: flex;
    align-items: column;
    padding: 0 5%;
    padding-top: 5%;
}

.homepage-content{
    max-width: 700px;
}

.homepage-content p{
    font-size: 20px;
}

.homepage-content h1{
    color: black;
    font-size: 45px;
    margin: 5px 0 5px;
}

.homepage-content .gdsc_logo{
    height: 10%;
    width: auto;
}

.homepage-content .social{
    display: flex;
    flex-direction: row;
    column-gap: 7%;
    align-items: flex-start;
    text-decoration: none;
    color: black;
}

.social ion-icon{
    font-size: 40px;
    margin-left: 10%;
    color: black;
    margin-right: -60px;
    transition: .3s ease;
}

.social ion-icon:hover{
    color: rgb(79, 167, 255);
}

.mobile_logo{
    height: 0vh;
}


.clg_logo img{
    position: absolute;
    right: 3%;
    border: solid;
    border-color: rgb(79, 167, 255);
    border-width: 20px 20px 20px 20px;   
}


.clg_logo_mobile{
    display: none;  
}

/*Page 2 - Team*/

.page2{
    min-height: 90vh;
    background:white;
    background-position: center;
    font-family: 'GoogleSans';
    margin-top: 25%;

}

.team_title{
    font-size: 50px;
    color: black;
    text-align: center;
    position: relative;
}

.row{
    border: 0px solid rgb(234, 67, 53);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 2em 1em;
    text-align: center;
    flex-direction: row;
    gap: 1em;
}

.column{
    width: 100%;
    border: 0px solid black;
    max-width: 100%;
    flex-flow: row;
}

.title{
    text-align: center;
    padding-top: 100px;
    width: 100%;
    font-size: 40px;
    color: black;
}

.card{
    box-shadow: 0 0 35.2px rgb(0,0,0,0.1) ;
    padding: 56px 16px;
    border-radius: 8.6px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: .3s;
}

.card .image-holder{
    width: 100px;
    height: 100px;
    background-color: rgb(234, 67, 53);
    padding: 8px;
    border-radius: 50%;
    margin: 0 auto 32px auto;
}

.card img{
    width: 100%;
    border-radius: 50%;
    transform: scale();
}

.card h3{
    font-weight: 1000;
}

.card p{
    font-weight: 300;
    text-transform: uppercase;
    margin: 8px 0 32px 0;
    letter-spacing: 1.5px;
}

.card:hover{
    background: rgb(234, 67, 53);
    color: white;
}
.card:hover .image-holder {
    transform: scale(1.15);
  }

 /*Page 3 - Events*/

.page3{
    min-height: 125vh;
    background:white;
    margin-top: 25px;
    margin-bottom: 25px;
}

.slider-events-section{
    height: 90vh;
    margin: 30px auto;
    position: relative;
}

#slider{
    width: 100%;
    display: inline-flex;
}

.events-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.blog-card{
    display: flex;
    justify-content: center;
    flex-direction: row;
    row-gap: 2%;
    margin: 20px 0px;
    flex-wrap: nowrap;
}

.blog-card h1{
    padding-top: 10%;
}

.blog-card-content{
    width: 950px;
    background-color: rgba(251, 188, 4);
    border-radius: 25px;
    margin: 20px;
}

.blog-img{
    width: 100%;
    height: auto;
}

.blog-img img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
    object-position: center;
}

.blog-article{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-article span{
    color: white;
    font-size: 16px;
}

.blog-article .blog-title{
    font-size: 30px;
    font-weight: 800;
    color: black;
    text-decoration: none;
}

.blog-article .blog-title:hover{
    color: gray;
    transition: all ease 0.3s;
}

.blog-article p{
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: verticle;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

/*FootNote*/

.footnote{
    display: flex;
    min-height: 40vh;
    width: auto;
    background:white;
    color: white;
    background-position: center;
    font-family: 'GoogleSans';
    background: rgb(15, 157, 88);
    position: absolute;
    left: 0;
    right: 0;
}

.footnote .social{
    max-width: 78%;
    color: white;
    display: flex;
    flex-direction: row;
    column-gap: 20%;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.footer-content img{
    padding-top: 1%;
    margin-bottom: 10px;
    height: 13%;
    width: auto;
}

.footer-logo{
    height: 80%;
    max-width: 95%;
}
.footer-content .footer-title{
    max-width: 100%;
    color: white;
    font-size: 30px;

}


.footer-content p{
    padding-bottom: 25px;
    font-size: 16px;

}




@media screen and (max-width:900px){

    body{
        margin: 0;
        width: 100%;
    }

    .hideOnMobile{
        display: none;
    }
    
    .menu-button{
        display: block;
    }

    nav li:first-child{
        padding-top: 10px;
        padding-left: 5px;
        margin-right: auto;
    }

    nav{
        height: 10vh;   
    }
    

    .navbar img{
       display: none;
    }
    
    nav img.mobile-icon{
        height: 35px;
        width: auto;
        display: grid;
        justify-content: space-between;
        align-self: flex-start;
        padding-right: 54vw;
        padding-top: 1.0vh;
    }

    .clg_logo img{
        display: none;
    }

    .mobile_logo{
        display: flex;
        height: 50vh;
    }

    .clg_logo_mobile img{
        align-self: center;
        height: 33%;
        width: auto;
        display: flex;
        position: absolute;
        align-content: center;
        margin-top: 65%;
        border: solid;
        border-color: rgb(79, 167, 255);
        border-width: 20px 20px 20px 20px;  
    }


    /*Page 2*/

    .team_card{
        display: flex;
        flex-direction: column;
    }

    .team_title{
        margin-top: 10%;
        font-size: 30px;
        color: black;
        text-align: center;
        position: relative;
    }


    /*Page 3*/
    .page3{
            min-height: 100vh;
            background: white;
            margin: 25px;
      }
      
      .slider-events-section{
            height: auto;
            margin: 0 auto;
            position: relative;
      }
      
      #slider{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
      }
      
      .events-content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
      }
      
      .blog-card{
            display: flex;
            width: 100%;
            margin: 20px 0;
      }
      
      .blog-card h1{
            padding-top: 10%;
            font-size: 20px;
      }
      
      .blog-card-content{
            width: 90%;
            background-color: rgba(251, 188, 4);
            border-radius: 25px;
            margin: 0;
      }
      
      .blog-img{
            width: 100%;
            height: auto;
      }
      
      .blog-img img{
            width: 100%;
            height: auto;
            border-radius: 25px;
            object-fit: cover;
            object-position: center;
      }
      
      .blog-article{
            padding: 20px;
            display: flex;
            flex-direction: column;
      }
      
      .blog-article span{
            color: white;
            font-size: 14px;
      }
      
      .blog-article .blog-title{
            font-size: 24px;
            font-weight: bold;
            color: black;
            text-decoration: none;
      }
      
      .blog-article .blog-title:hover{
            color: gray;
            transition: all ease 0.3s;
      }
      
      .blog-article p{
            font-size: 14px;
            line-height: 1.5;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 10px 0;
      }
      

      /*Footer*/


.footnote{
    width: 100%;
    background: rgb(15, 157, 88);
    color: white;
    font-family: 'GoogleSans';
    position: absolute;
    padding: 10px;
    text-align: center;
}

.footnote .social{
    display:flex;
    justify-content: center;
    margin-top: 5%;
    padding-right: 8vw;
}

.footer-content img{
    margin-bottom: 10px;
    height: auto;
    width: 15%;
}

.footer-content .footer-title{
    color: white;
    font-size: 24px;
}

.footer-content p{
  padding-bottom: 25px;
  font-size: 14px;
} 

.footer-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    column-gap: 80%;
}


}

@media screen and (max-width:667px){
    nav img.mobile-icon{
        padding-left: 7%;
    }

    .homepage-content .social{
        display: flex;
        flex-direction: row;
        column-gap: 15%;
        align-items: flex-start;
        text-decoration: none;
        color: black;
    }

    .team_title{
        margin-top: 60%;
        font-size: 20px;
        color: black;
        text-align: center;
        position: relative;
    }

    .mobile_logo{
        display: flex;
        height: 30vh;
    }

    .clg_logo_mobile img{
        align-self: center;
        height: 30%;
        width: auto;
        display: flex;
        position: absolute;
        align-content: center;
        margin-top: 25%;
        border: solid;
        border-color: rgb(79, 167, 255);
        border-width: 20px 20px 20px 20px;  
    }


}

@media screen and (min-width: 768px) {
    section {
      padding: 1em 7em;
    }

    .clg_logo_mobile img{
        align-self: center;
        height: 33%;
        width: auto;
        display: flex;
        position: absolute;
        align-content: center;
        border: solid;
        border-color: rgb(79, 167, 255);
        border-width: 20px 20px 20px 20px;  
    }

    .mobile_logo{
        height: 20vh;
    }

  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em;
    }
    .card {
      padding: 5em 1em;
    }
    .column {
      flex: 0 0 32.55%;
      max-width: 100.33%;
      padding: 0 -19em;
    }

    .mobile_logo{
        height: 10vh;
        display: flex;
    }

    .clg_logo_mobile img{
        align-self: center;
        height: 33%;
        width: auto;
        display: flex;
        position: absolute;
        align-content: center;
        margin-top: 65%;
        border: solid;
        border-color: rgb(79, 167, 255);
        border-width: 20px 20px 20px 20px;  
    }

  }


